.login{
    height: 100vh;//полная высота 
    display: flex; 
    align-items: center;//центрировать всё 
    justify-content: center;

    form{
      display: flex;
      flex-direction: column;
      align-items: center;

      input{
        width: 200px;
        height: 30px;
        margin: 10px;//запас между ними
      }

      button{
        width: 200px;
        height: 30px;
        border: none;//нет границы
        background-color: purple;
        color: white;
        font-weight: bold;
        cursor: pointer;//указатель курсора
      }

      span{
        font-size: 12px;//размер шрифта
        color: red;
        margin-top: 10px; //поле сверху
      }
    }
}